<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epopcon.advatar">

    <!-- NETWORK -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.AdvatarApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.activity.common.IntroActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".controller.activity.common.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.brand.BrandChoiceActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.user.JoinActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.common.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.user.FindPwActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.user.FindIdActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.user.UpdatePwActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.user.UserModifyActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.online.OnlineListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.online.OnlineLoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.online.OnlineStoreWebActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.activity.online.OnlineCartSearchActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <service android:name=".common.util.event.EventService">
            <intent-filter>
                <action android:name=".common.util.event.EventService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>